body {
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  box-sizing: inherit;
}
header {text-align: center;}
section {
  margin: 20px auto;
  width: 100%;
  max-width: 900px;
  border: 1px solid black;
  padding: 10px
}
img {margin: 0 auto;}
